.App{
    font-family: monospace;
    background-color: transparent;
    padding: 50px;
}
@keyframes typing {
    from { width: 0;}
    to { width: 100%;}
}
/* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000; }
} */
.typewriter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 5px solid var(--color-black);
    outline-offset: 0px;
    box-shadow: 10px 10px 0px var(--border-tertiary);
    transition-duration: .3s!important;
}
.typewriter-container:hover{
    box-shadow: none;
}
.typewriter h1{
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    color: var(--color-black);
    animation: typing 2.5s steps(25, end);
}
.typewriter h2{
    cursor: default;
    width: 0;
    border-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    color: var(--color-black);
    animation: typing 2.5s steps(25, end) ;
    animation-delay: 2.8s; 
    animation-fill-mode: forwards;
}