@import url(../../index.css);

.job-container{
    color: var(--text-light);
    margin-top: 40px;
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--color-black);
    box-shadow: 10px 10px 0px var(--border-tertiary);
    transition-duration: .3s;
    background-color: var(--background-secondary);
    height: fit-content;
}
.jobs-wrapper-container{
    display: flex;
}
.jobs-wrapper{
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
}
.job{
    border: 5px solid var(--color-black);
    padding: 20px;
    box-shadow: 10px 10px 0px var(--border-tertiary);
    transition-duration: .3s;
    cursor: default;
}
.job:hover{
    box-shadow: none;
}
.job-arrow{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
}
.ticket{
    height: 300px;
}